<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.ofmeet.OfMeetPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Ignite Realtime</author>
    <version>${project.version}</version>
    <date>03/31/2024</date>
    <minServerVersion>4.8.0</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>
    <adminconsole>
    </adminconsole>    
</plugin>
